@import url(http://fonts.googleapis.com/css?family=Raleway+Dots);
@import url(http://fonts.googleapis.com/css?family=Roboto);

body{
	background:#222;
	margin: 0;
	overflow: hidden;
}
#menu {
	position: absolute;
	top: 15%;
	color: white;
	background: rgba(0, 0, 0, 0.7);
	padding: 20px;
	left: 0;
	right: 0;
	z-index: 1000;
}

#interface{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: none;
	opacity: 0;

	-webkit-transition: opacity .6s ease;
}

#interface.display{
	opacity: 1;
}

#interface .standard-message{
	margin-top: 22%;
	font-family: "Raleway Dots", sans-serif;
	color: white;
	font-size: 40px;
	text-align: center;
	opacity: 0;
	z-index: 2;
	position: relative;
}

#interface .standard-message .message-secondary{
	font-size: 18px;
	opacity: 0.5;
	display: block;
}

#interface .overlay{
	background: #222;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0;

	-webkit-transition: opacity .4s ease;
}

#interface .overlay.display{
	opacity: 1;
}

#start-game {
	font-size: 90px;
	font-family: "Raleway Dots", sans-serif;
	cursor:pointer;
	display:inline-block;
}
#magnetiq{
	display:block;
	z-index: 0;
	/*cursor: none;*/
}
#game-status{
	bottom: 5px;
	left: 5px;
}
#fps_count{
	top: 5px;
	right: 5px;
}
#game-status,#fps_count {
	display: inline-block;
	padding: 5px;
	position: absolute;
	color: #888;
	font-family: roboto;
	font-size: 12px;
}
